* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#main{

    position: relative;
    overflow: hidden;
}

#page1{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    
}
#page1 img{
    position: absolute;
    background-size: contain;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.99;
    
    
}
#nav{
    position: fixed;
    width: 100%;
    height: 13vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2vw ;
    text-transform:uppercase ;
}
#nav img{
    width: 15vw;
    height: 90%;
    position: absolute;
    margin-right: 87%;
    z-index: 10;
    background-repeat: no-repeat;
    background-size: contain;
    
}
#right-nav{
    position: absolute;
    display: flex;
    gap: 1vw;
    margin-left: 90%;
}
#centre-text{
    width: 50%;
    height: 30%;
    /* background-color: red; */
    position: absolute;
    top: 50%;
    left: 5%;
    animation-name: centre-text;
    animation-duration: 1s;
    animation-timing-function:linear ;
    animation-iteration-count: initial;
    animation-direction: inherit;
    transition: all linear 0.2s;
}
#centre-text #text1{
font-weight: 100;
margin-bottom: 10px;
}
#centre-text>button{
    width: 12vw;
    height: 8vh;
    background-color:transparent;
    border: 2px solid white;
    margin-top: 19px;
    font-weight: 500;
    font-size: medium;
}
#centre-text>button:hover{
background-color: #fff;
color: black;
cursor:pointer;
transition-duration: 1s;

}
.page{
    height: 110vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}
.page img{
    height: 110vh;
    width: 100vw;
    background-size: contain;
    position: absolute;
    z-index: -1;
    opacity:0.8;
    
}
#centre-text>button{
    width: 12vw;
    height: 8vh;
    background-color:transparent;
    border: 2px solid white;
    margin-top: 19px;
    font-weight: 500;
    font-size: medium;
}
#centre-text>button:hover{
background-color: #fff;
color: black;
cursor:pointer;
transition-duration: 1s;

}
.page i{
    position: absolute;
    font-size: 4vw;
    font-weight: 200;
    bottom: 5%;
    left: 50%;
    animation-name: i;
    animation-duration: 2s;
    animation-timing-function:linear ;
    animation-iteration-count: infinite;
    transition: all linear 0.2s;
    animation-delay: 3s;

}
#video{
    height: 100%;
    width: 100%; 
    object-fit: cover;
    position: absolute;
    z-index: -1;
    opacity:0.9;
}
#footer{
    position: relative;
    height: 15vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;

}
#footer h4{
    font-weight: 400;
}




@keyframes i {
    from{
       transform: translateY(-40%);
      
    }
    to{
       transform: translateY(-10%);
       opacity: 0;
    }
   }

   @keyframes centre-text {
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;
    }
    from{
       transform: translateY(10%);
       opacity: 0;
       
    }
    to{
       transform: translateY(-2%);
    }
   }